.wrapper {
    display: grid;
    grid-template-areas:
      'aside-1 aside-1 aside-1'
      'main main main'
      'aside-2 aside-2 aside-2';
      grid-template-columns: 1fr 10fr 1fr;
      grid-template-rows: 1fr 10fr 1fr;
    font-weight: bold;
    text-align: center;
    height: 100vh;
  }
  
  .wrapper > * {
    padding: 10px;
  }
  
  .header {
    background: #FFB8FD;
    grid-area: header;
    display: none;
  }
  
  .footer {
    background: #FFB8FD;
    grid-area: footer;
    display: none;
    
  }
  
  .main {
    text-align: left;
    background: #4EB2FF;
    grid-area: main;
    border-top:  0.2rem solid #2B2B2B;
    border-bottom:  0.2rem solid #2B2B2B;;
    
  }
  
  .aside-1 {
    background: #FFB8FD;
    grid-area: aside-1;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
  }
  
  .aside-2 {
    background: #FFB8FD;
    grid-area: aside-2;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
  }
  #nav1 {
    padding: 1rem 0;
    text-align: left;
}

#nav2 {
  padding: 1rem 0;


}

 nav a {
    color: #2B2B2B;
    text-decoration: none;
    display: inline-block;
}

nav a:hover {
    color: #2B2B2B;
    background-color: #87cefa;
}
  
  body {

    margin: 0;
    color: #2B2B2B
  }
  
  @media all and (min-width: 600px) {
    .header {display: block;}
    .footer {display: block;}
    .wrapper {
      grid-template-areas:
        'header header header'
        'aside-1 main aside-2'
        'footer footer footer';
      grid-template-columns: 1fr 10fr 1fr;
      grid-template-rows: 1fr 10fr 1fr;
    }
   
    .main {
      border-left: 0.2rem solid #2B2B2B;;
      border-right: 0.2rem solid #2B2B2B;;
     
    }
    .aside-1 {
      background: #FFB8FD;
      grid-area: aside-1;
      display: flex;
      flex-direction: column;
      align-items: center;
      justify-content: center;
    }
    nav a {
        color: #2B2B2B;
        text-decoration: none;
        display: block;
        padding: 10px;
        margin-bottom: 5px;
        text-align: center;
    }
    .header {
      background: #FFB8FD;
      grid-area: header;
      display: flex;
      flex-direction: row;
      align-items: center;
      justify-content: center;
    }
    .footer {
      background: #FFB8FD;
      grid-area: footer;
      display: flex;
      flex-direction: row;
      align-items: center;
      justify-content: center;
    }
    
  }
  