.wrapper {
    display: grid;
    grid-template-areas:
      'aside-1 aside-1 aside-1'
      'main main main'
      'aside-2 aside-2 aside-2';
      grid-template-columns: 1fr 10fr 1fr;
      grid-template-rows: 1fr 10fr 1fr;
    font-weight: bold;
    text-align: center;
    height: 100vh;
  }
  
  .wrapper > * {
    padding: 10px;
  }
  
  .header {
    background: #404040;
    grid-area: header;
    display: none;
  }
  .header-logo {
    width: 50px;
    height: 50px;
    position:relative;
    top: 13px;
  }
  
  .footer {
    background: #404040;
    grid-area: footer;
    display: none;

  }
  
  .main {
    text-align: left;
    background: #2B2B2B;
    grid-area: main;
    border-top:  0.2rem solid #1F1F1F;
    border-bottom:  0.2rem solid #1F1F1F;;
    position: relative;
  }
  
  .aside-1 {
    background: #404040;
    grid-area: aside-1;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
  }
  
  .aside-2 {
    background: #404040;
    grid-area: aside-2;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
  }
  #nav1 {
    padding: 1rem 0;
    text-align: left;
}

#nav2 {
  padding: 1rem 0;
  font-size: 32px;
  word-spacing: 1em;

}

 nav a {
    color: #A0A0A0;
    text-decoration: none;
    display: inline-block;
}

nav a:hover {
    color: #E0E0E0;
    background-color: #568EA3;
}
  
  body {

    margin: 0;
    color: #E0E0E0
  }
  /* Define styles for the content-wrapper class
  This class ensures that the content is displayed in a column layout,
   centering the header horizontally*/ 
  .content-wrapper {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
  }
  .syntax-content {
    padding: 0;
    margin: 0;
  }
  /* Style the container for the small buttons */
.grounds-buttons {
  display: flex;
  position: absolute;
  bottom: 10px;
  left: 10px;
}

/* Style the small buttons */
.small-button {
  background-color: #007BFF;
  color: #E0E0E0;
  border: none;
  padding: 5px 10px;
  border-radius: 5px;
  cursor: pointer;
  font-size: 12px;
  margin-right: 5px;
}

/* Style the small buttons on hover */
.small-button:hover {
  background-color: #0056B3;
}
.tooltip {
  position: relative;
  display: inline-block;
  cursor: pointer;
}

.tooltip .tooltiptext {
  visibility: hidden;
  width: 180px;
  background-color: #555;
  color: #fff;
  text-align: center;
  border-radius: 6px;
  padding: 5px;
  position: absolute;
  z-index: 1;
  bottom: 100%; /* Position the tooltip above the text */
  left: 50%;
  margin-left: -90px; /* Use half of the width (180/2 = 90) to center the tooltip */
  opacity: 0;
  transition: opacity 0.3s;
}

.tooltip:hover .tooltiptext {
  visibility: visible;
  opacity: 1;
}


  #gallery-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 10px;
  }
  
  .content-header {
    text-align: center;
    margin-top: 20px;
    color: #333333;
  }
  #gallery-container img {
    max-width: 230px;
    height: auto;
    
  }
  
  #gallery-nav {
    display: flex;
    align-items: center;
    justify-content: center;
    position: absolute; /* Add this line */
    bottom: 20px; /* Add this line */
    width: 100%; /* Add this line */
  }
  
  #gallery-nav button {
    background-color: #007BFF;
    color: #E0E0E0;
    border: none;
    padding: 10px 20px;
    border-radius: 5px;
    cursor: pointer;
  }
  
  #gallery-nav button:hover {
    background-color: #0056B3;
  }
  
  
  @media all and (min-width: 600px) {
    .header {display: block;}
    .footer {display: block;}
    .wrapper {
      grid-template-areas:
        'header header header'
        'aside-1 main aside-2'
        'footer footer footer';
      grid-template-columns: 1fr 10fr 1fr;
      grid-template-rows: 1fr 10fr 1fr;
    }
   
    .main {
      border-left: 0.2rem solid #1F1F1F;;
      border-right: 0.2rem solid #1F1F1F;;
     
    }
    .aside-1 {
      background: #404040;
      grid-area: aside-1;
      display: flex;
      flex-direction: column;
      align-items: center;
      justify-content: center;
    }
    .aside-2 {
      background: #404040;
      grid-area: aside-2;
      display: flex;
      flex-direction: row;
      align-items: center;
      justify-content: center;
    }
    #nav2 {
      padding: 1rem 0;
    font-size: 16px;
    word-spacing: normal;
    
    }
    nav a {
        color: #E0E0E0;
        text-decoration: none;
        display: block;
        padding: 10px;
        margin-bottom: 5px;
        text-align: center;
    }
    .header {
      background: #404040;
      grid-area: header;
      display: flex;
      flex-direction: row;
      align-items: center;
      justify-content: center;
    }
    .footer {
      background: #404040;
      grid-area: footer;
      display: flex;
      flex-direction: row;
      align-items: center;
      justify-content: center;
    }
    
  }
  